In [42]:
import pyspark
from pyspark.sql.types import *
from pyspark.sql.functions import col

In [43]:
spark = SparkSession.builder.appName("PySpark_Hive")\
        .config("spark.sql.catalogImplementation","hive")\
        .enableHiveSupport().getOrCreate()

In [44]:
df=spark.read.options(header="true").options(inferSchema="true").csv('../data/merged_data.csv')

In [45]:
df=df.filter(~col("job").isin("unknown"))
df=df.filter(~col("marital").isin("unknown"))
df=df.filter(~col("education").isin("unknown"))
df=df.filter(~col("housing").isin("unknown"))
df=df.filter(~col("loan").isin("unknown"))
df=df.drop("default")
df.printSchema()
df.count()

root
 |-- Customer_id: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- Region_Code: integer (nullable = true)
 |-- Region_Name: string (nullable = true)
 |-- State_Code: string (nullable = true)
 |-- State_Name: string (nullable = true)
 |-- City_Code: string (nullable = true)
 |-- City_Name: string (nullable = true)
 |-- Contact_Mode: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day_of_week: string (nullable = true)
 |-- Current_Campaign_Attempts: integer (nullable = true)
 |-- Previous_Campaign_Attempts: integer (nullable = true)
 |-- Previous_Campaign_Outcome: string (nullable = true)
 |-- emp.var.rate: double (nullable = true)
 |-- cons.price.idx: double (nullable = true)
 |-- cons.conf.idx: double (nullable = true)
 |-- euribor3m: double (nullable = true)
 |-- nr.employed: double (nullable = true)
 |-- Current_Campaign_Result: string (nullable = true)

34448

In [46]:
df.write.format("parquet").mode("overwrite").saveAsTable("campaign")

In [47]:
spark.sql("Select * from campaign limit 2").show()

+-----------+---+--------+-------+-----------+-------+----+-----------+-----------+----------+----------+---------+---------+------------+-----+-----------+-------------------------+--------------------------+-------------------------+------------+--------------+-------------+---------+-----------+-----------------------+
|Customer_id|age|     job|marital|  education|housing|loan|Region_Code|Region_Name|State_Code|State_Name|City_Code|City_Name|Contact_Mode|month|day_of_week|Current_Campaign_Attempts|Previous_Campaign_Attempts|Previous_Campaign_Outcome|emp.var.rate|cons.price.idx|cons.conf.idx|euribor3m|nr.employed|Current_Campaign_Result|
+-----------+---+--------+-------+-----------+-------+----+-----------+-----------+----------+----------+---------+---------+------------+-----+-----------+-------------------------+--------------------------+-------------------------+------------+--------------+-------------+---------+-----------+-----------------------+
|          1| 56|services|married|high.school|     no| yes|          3|      South|        S1|  Kentucky|       C1|Henderson|   telephone|  may|        mon|                        1|                         0|              nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0|                     no|
|          2| 45|services|married|   basic.9y|     no|  no|          3|      South|        S1|  Kentucky|       C1|Henderson|   telephone|  may|        mon|                        1|                         0|              nonexistent|         1.1|        93.994|        -36.4|    4.857|     5191.0|                     no|
+-----------+---+--------+-------+-----------+-------+----+-----------+-----------+----------+----------+---------+---------+------------+-----+-----------+-------------------------+--------------------------+-------------------------+------------+--------------+-------------+---------+-----------+-----------------------+

In [48]:
spark.sql("Select count(*) from campaign").show()

+--------+
|count(1)|
+--------+
|   34448|
+--------+

In [50]:
spark.sql("describe campaign").show()

+--------------------+---------+-------+
|            col_name|data_type|comment|
+--------------------+---------+-------+
|         Customer_id|      int|   null|
|                 age|      int|   null|
|                 job|   string|   null|
|             marital|   string|   null|
|           education|   string|   null|
|             housing|   string|   null|
|                loan|   string|   null|
|         Region_Code|      int|   null|
|         Region_Name|   string|   null|
|          State_Code|   string|   null|
|          State_Name|   string|   null|
|           City_Code|   string|   null|
|           City_Name|   string|   null|
|        Contact_Mode|   string|   null|
|               month|   string|   null|
|         day_of_week|   string|   null|
|Current_Campaign_...|      int|   null|
|Previous_Campaign...|      int|   null|
|Previous_Campaign...|   string|   null|
|        emp.var.rate|   double|   null|
+--------------------+---------+-------+
only showing top 20 rows